@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.menu{
    height: 200%;
    width: 100%;
    padding: 0;
    background-color: #0090c3;
    font-family: "poppins", sans-serif;
    position: relative;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0090c3;
    color: #011839;
}
.logo{
    width: 140px;
    margin: .5rem;
    display: block;
}

.nav-lista ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-lista li{
    text-decoration: none;
    margin: 0 15px; 
    display: block;
    padding: 1rem;
}

.nav-lista li a{
    text-decoration: none;
    color: #011839;
    padding:5px 0;
    position: relative;
}

.nav-lista li a::after{
    content: '';
    background: #ff6a34;
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}
.nav-lista li a:hover::after{
    width: 100%;
}

.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: #011839;
    border-radius: 10px;
}

@media (max-width: 800px){
    
    .navbar{
        flex-direction: column;
        align-items: flex-end;
    }
    
    .toggle-button {
        display: flex;
    }

    .nav-lista {
        display: none;
        width: 100%;
    }


    .nav-lista ul {
        width: 100%;
        flex-direction: column;
    }

    .nav-lista li {
        text-align: center;
    }

    .nav-lista li a  {
        padding: .5rem 1rem;
    }

    .nav-lista.active {
        display: flex;
    }
    
}


.text-center{
	color:#011839;	
	text-transform:uppercase;
    font-size: 30px;
    font-weight: 600;
    margin: -50px 0 80px 0;
    display: block;
    text-align: center;
}
.box{
    position: absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
    background-color: #f5804e;
	border-radius:3px;
	padding:70px 100px;
}

form {
    display: flex;
    flex-direction: column;
}

.input-container{
	position:relative;
	margin-bottom:1.5rem;
}
.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:25px;
    color:#011839;	
	transition: all 0.5s ease-in-out;
}
.input-container input{ 
  border:0;
  border-bottom:1px solid #feb800;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:12px;
  color:#011839;
}
.input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #3fd5fe;	
}

.btn{
	color:#FEF8DD;
	background-color:#011839;
	outline: none;
    border: 0;
    color: #FEF8DD;
	padding:10px 20px;
	text-transform:uppercase;
	margin-top:50px;
	border-radius:2px;
	cursor:pointer;
	position:relative;
}

.btn:hover{
    background-color: #0090c3;
}

#forgot-pass {
    display: block;
    text-align: right;
    color: #011839;
    text-decoration: underline;
    font-size: 12px;
    cursor: pointer;
}

#forgot-pass:hover {
    font-weight: bold;
}

.input-container input:focus ~ label,
.input-container input:valid ~ label{
	top:-12px;
	font-size:16px;
	font-weight: 400;
}

