@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    padding: 0;
    margin: 0;
}
.menu{
    height: 200%;
    width: 100%;
    padding: 0;
    background-color: black;
    font-family: "poppins", sans-serif;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 140px;
}
.nav-lista{
    padding: 28px 0;
}
.nav-lista li{
    display: inline-block;
    margin: 0 15px; 
}
.nav-lista li a{
    text-decoration: none;
    color: white;
    padding:5px 0;
    position: relative;
}
.nav-lista li a::after{
    content: '';
    background: #961d4e;
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}
.nav-lista li a:hover::after{
    width: 100%;
}

.botao-registrar{
    background: #961d4e;
    color: #fff;
    padding: 10px 30px;
    border-radius: 3px;
    cursor: pointer;
}

#divProducts{
    background-color: black;
    background-size: cover;
    width: 100%;
    margin-right: auto;
    margin-left: auto;   
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.card-product{
    background-color:rgb(0, 0, 0);
    display: flex;
    width: 250px;
    height: 200px;
    border-radius: 5px;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin:5px;
}

.img-product img{
    max-width: 200px;
    max-height: 125px;
    width: auto;
    height: auto;
    display: block;
    margin: auto;     
}

.text-product{    
    font: normal normal 13px poppins, sans-serif;
    text-align: center;
    text-transform: capitalize;
    border-radius: 5px;
    color: white;
    
}

.text-product-price{
    font: normal bold 15px poppins, sans-serif;
    text-align: center;
    text-transform: capitalize;
    color: white;
    
}

.botton-product-add{
    width: 250px;
    height: 30px;
    padding:5px;
    font: normal normal 20px poppins;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    background-color: #961d4e;
    color:white;      
    cursor: pointer;   
}

.botton-product-add:hover{
    background-color: white;
    font: normal bold 23px poppins;
    color: #961d4e;
}

.botton-product-added{
    font: normal bold 16px poppins;
    text-transform: initial;
    background-color: white;
    color:#961d4e;
}

.botton-product-added:hover{
    font: normal bold 16px poppins;
    background-color: white;
    color:#961d4e;
}