@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

/* #################### CABEÇALHO ####################  */ 
.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
}


.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}
.logo{
    width: 50%;
    cursor: pointer;
    margin: 30px 0;
}
.menu-icon{
    width: 25px;
    cursor: pointer;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

.botao-registrar{
    background-color: #ddd;
    border: none;
    color: black;
    border-radius: 6px;
    cursor: pointer;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    transition: 0.3s;
}

.botao-registrar:hover { 
    background-color: #3e8e41;
    color: white;
}

.navbar li a{
    text-decoration: none;
    color: #191923;
    padding:5px 0;
    position: relative;
}
.navbar li a::after{
    content: '';
    background: #2D9A0B;
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}
.navbar li a:hover::after{
    width: 100%;
        transition: width 0.5s;

}


/* #################### TEXTO CENTRAL + BOTAO REGISTRO ####################  */ 


.conteudo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

.col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}
.col-1 h2{
    font-size: 54px;
}

.col-1 h3{
    font-size: 30px;
    color: #707070;
    font-weight: 100;
    margin: 12px 0 10px
}


button{
    color: #FEF8DD;
    padding: 12px 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: linear-gradient(to right, #fb5283, #ff3527);
    transition: width 0.5s;
}

button img{
    width: 30px;
    display: none;
}

button:hover img{
    display: block;
}

button:hover{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* #################### ENDERECO E CONTATO ####################  */
 
.endereco-contato{
    text-align: center;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
    background-color: #5d5d5daf;
    color: white;
    font-weight: 500;
}

.endereco-contato a{
    padding-left: 3%;
}

/* #################### RODAPE ####################  */ 

.rodape{
    text-align: center;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
    background-color: #292929af;
}

.rodape h1{
    color: white;
    font-size: 40px;
    padding-bottom: 2%;
    padding-top: 1.2%;
}

.rodape li{
    padding-left: 1.2%;
    padding-bottom: 2.2%;
}

.rodape li a{
    text-decoration: none;
    font-weight: 700;
    font-size: 30px;
    color: white;
}
